[user]
	email = 55716026+f-hafner@users.noreply.github.com 
	name = Flavio Hafner
[core]
	editor = vim
	autocrlf = input
[credential]
	helper = cache
[init]
	defaultBranch = main
[log]
	date = relative
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[tag]
	sort = -version:refname
[alias]
    st = status
    ci = commit -v
    co = checkout
    sw = switch
    fpush = push --force-with-lease
	glog = log --oneline --graph --all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
